<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <title>Document</title>
</head>
<body class="bg-gray-800">
  <h1 class="text-3xl font-bold ml-3 mt-5 text-taupe-100">
      MAGNUM PIERING
    </h1>
    <h2 class="text-gray-300 ml-5">
      Asset status
    </h2>
  <div class="bg-linear-to-tr from-blue-500 to-indigo-600 m-2 p-5 rounded-xl">

    <div class="grid grid-cols-4 gap-2">

      {% for asset in assets %}

        {% if asset.status == "OFFLINE" %}

          <div data-id="{{asset.id}}"  class="bg-linear-to-bl from-red-600 to-orange-300 p-2 rounded-lg shadow-xl/30 shadow-red-600 flex flex-col justify-between">
            <div class="text-white flex justify-between">
              <span class="text-2xl">{{ asset.name }}</span>
              <span class="text-stone-100 rounded-md pt-0.5 p-1 bg-orange-400 flex-none shadow-xl/20">{{ asset.startedAt }}</span>
            </div>
            <div class="flex flex-row justify-between items-end">
              <div class="flex flex-col">
                <span class="text-stone-200 text-xs mt-2">Status</span>
                <span class="text-white"><strong class="text-red-600 text-shadow-2xs text-shadow-red-300">{{ asset.status }}</strong></span>
              </div>
              <div class="flex flex-col">
                <span class="text-xs mt-2 text-white">{{ asset.downtimeType }}</span>
                <span class="text-white">{{ asset.description }}</span>
              </div>
            </div>
          </div>

        {% else %}

          <div data-id="{{asset.id}}" class="bg-radial-[at_25%_25%] from-indigo-400 to-blue-300 p-2 rounded-lg shadow-xl/20 flex flex-col justify-between">
            <div class="text-white flex justify-between">
              <span class="text-2xl">{{ asset.name }}</span>
            </div>
            <div class="flex flex-col">
              <span class="text-stone-300 text-xs mt-2">Status</span>
              <span class="text-white">{{ asset.status }}</span>
            </div>
          </div>

        {% endif %}

      {% endfor %}

    </div>

  </div>

</body>
</html>